/*
  Autor: Facundo Becerra
  Proyecto: NovaHabitat
*/
@import "base/variables";
@import "base/mixins";
@import "base/reset";

@import "layout/navbar";
@import "layout/footer";

@import "pages/index";
@import "pages/propiedades";
@import "pages/nosotros";
@import "pages/servicios";

@import "pages/mediaqueries";
