.my-navbar {
  background-color: rgba($primary, 0.31) !important;
  height: 5rem;

  .navbar-nav {
    .nav-link {
      color: $white;
      font-size: 1.3rem;
    }
  }
}

.my-navbar .navbar-brand {
  color: $white;
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.5) !important;

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
  }
}

@media (max-width: 768px) {
  .navbar {
    height: auto;
    padding: 1rem;
    font-size: 1rem;

    .navbar-ul {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
  }
}
