@keyframes bounce {
  0% {
    transform: translateY(0);
    opacity: 0.7;
  }

  50% {
    transform: translateY(12px);
    opacity: 1;
  }

  100% {
    transform: translateY(0);
    opacity: 0.7;
  }
}